<div class="row well">
 <h4>Suivre votre/vos dossier(s)</h4><br />
 <div style="text-align: center;">
  <a href="{{ path('login') }}" class="btn btn-primary" role="button">
   <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Connectez vous
  </a>
 </div>
</div>

<div class="row well">
 <h4>Demande de d&eacute;pannage</h4><br />
 <div style="text-align: center;">
  <a href="{{ path('demande-de-depannage') }}" class="btn btn-success" role="button">
   <span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;D&eacute;pannage
  </a>
 </div>
</div>